<main>

    <!-- contact area start -->
    <div class="contact-inner__area contact-inner__ptb p-relative">
       <div class="container">
          <div class="row justify-content-center">
             <div class="col-xl-11 offset-xl-1">
                <div class="row align-items-center">
                   <div class="col-xl-9 col-lg-10">
                      <div class="contact-inner__top-section-title-box mb-70">
                         <span class="contact-inner__subtitle">Contact Us</span>
                         <h4 class="contact-inner__title tp-char-animation tp-hero-3__content">Let’s Talk
                            <span><img src="/assets/images/contact.jpg" alt=""></span> <br>
                            
                         </h4>
                      </div>
                   </div>
                   <!-- <div class="col-xl-3 col-lg-2 d-none d-sm-block text-end">
                      <div class="contact-inner__shape-1 text-center text-lg-end">
                         <img class="flower-img" src="/assets/images/contact-flower.png" alt="">
                         <img class="flower-text" src="/assets/images/contact-flower-text.png" alt="">
                      </div>
                   </div> -->
                </div>
                <div class="contact-inner__mail-box mb-90">
                   <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6">
                         <div class="contact-inner__mail-info">
                            <span>Email Me:</span>
                            <a href="mailto:developeranju006@gmail.com">
                               <span class="__cf_email__" data-cfemail="29414c454546694d404c4e46074a4644">
                                  developeranju006@gmail.com
                               </span>
                            </a>
                         </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6">
                         <div class="contact-inner__mail-text">
                            <p>Interested in working with me? Please contact me <br> through mail</p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             
             <!-- <div class="contact-inner__wrapper">
                <div class="postbox__comment-form">
                   <h3 class="contact-inner__form-title">Request A Quote</h3>
                   <form action="#" class="box">
                      <div class="row gx-20">
                         <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="postbox__comment-input mb-35">
                               <input type="text" class="inputText" required>
                               <span class="floating-label">Your Name</span>
                            </div>
                         </div>
                         <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="postbox__comment-input mb-35">
                               <input type="text" class="inputText" required>
                               <span class="floating-label">Company</span>
                            </div>
                         </div>
                         <div class="col-xxl-12">
                            <div class="postbox__comment-input mb-35">
                               <input type="text" class="inputText" required>
                               <span class="floating-label">Your Email</span>
                            </div>
                         </div>
                         <div class="col-xxl-12">
                            <div class="postbox__comment-input mb-20">
                               <textarea class="textareaText" required></textarea>
                               <span class="floating-label-2">Your Comment</span>
                            </div>
                         </div>
                      </div>
                   </form>
                </div>
                <div class="row">
                   <div class="col-xxl-12">
                      <div class="postbox__comment-btn">
                         <button type="submit" class="tp-btn-grey-lg">
                            <span>
                               <i>Send Message</i>
                            </span>
                         </button>
                      </div>
                   </div>
                </div>
             </div> -->
          </div>
       </div>
    </div>
    <!-- contact area end -->

 </main>