<!-- tp-offcanvus-area-end -->
<div class="tp-offcanvas-area-2 offcanvas offcanvas-end tp-menu-2" id="offcanvasWithBothOptions">
   
   <div class="tp-offcanvas-wrapper">
      <div class="tp-offcanvas-top-2 d-flex align-items-center justify-content-between">
         <!-- <div class="tp-offcanvas-logo-2">
            <a [routerLink]="['/portfolio']">
               <img class="logo-white" src="/assets/images/logo-white.svg" alt="">
               <img class="logo-black" src="/assets/images/logo-black.svg" alt="">
            </a>
         </div> -->
         <div class="tp-offcanvas-close-2">
            <button class="tp-offcanvas-close-btn-2 tp-offcanvas-open-btn-2" data-bs-dismiss="offcanvas">
               <svg width="37" height="38" viewBox="0 0 37 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.19141 9.80762L27.5762 28.1924" stroke="currentColor" stroke-width="1.5"
                     stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M9.19141 28.1924L27.5762 9.80761" stroke="currentColor" stroke-width="1.5"
                     stroke-linecap="round" stroke-linejoin="round" />
               </svg>
            </button>
         </div>
      </div>
      <div class="tp-offcanvas-main-2">
         <div class="tp-offcanvas-content-2">
            <!-- <h3 class="tp-offcanvas-content-title-2">Hello There!</h3> -->
            <ul class="px-3">
               <li><a routerLink="['/portfolio']" class="text-white fs-5">Home</a></li>
               <li><a routerLink="['/about']" class="text-white fs-5">About me</a></li>
               <li><a routerLink="['/mywork']" class="text-white fs-5">Work Sample</a></li>
               <li><a routerLink="['/contact']" class="text-white fs-5">Contact</a></li>
               <li><a routerLink="['/blog']" class="text-white fs-5">Blog</a></li>
            </ul>
         </div>
         <!-- <div class="tp-main-menu-mobile d-lg-none">
            <nav></nav>
         </div> -->
         <div class="tp-offcanvas-gallery">
            <div class="row gx-2">
               <div class="col-md-3 col-3">
                  <div class="tp-offcanvas-gallery-img fix">
                     <a href="#"><img src="" alt=""></a>
                  </div>
               </div>
               <div class="col-md-3 col-3">
                  <div class="tp-offcanvas-gallery-img fix">
                     <a href="#"><img src="" alt=""></a>
                  </div>
               </div>
               <div class="col-md-3 col-3">
                  <div class="tp-offcanvas-gallery-img fix">
                     <a href="#"><img src="" alt=""></a>
                  </div>
               </div>
               <div class="col-md-3 col-3">
                  <div class="tp-offcanvas-gallery-img fix">
                     <a href="#"><img src="" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="tp-offcanvas-contact-2">
            <h3 class="tp-offcanvas-contact-title-2">Information</h3>

            <ul>
               <li><a href="tel:8406060277">8406060277</a></li>
               <li><span class="fw-bold text-white">developeranju006@gmail.com</span></li>
               <li><span class="fw-bold text-white">Hyderabad</span></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<!-- header area start -->
<app-header></app-header>
<div id="smooth-wrapper" class="tp-page-wrapper include-bg theme-bg" data-background="">
  <div id="smooth-content">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
<div id="awesome-cursor">
  <div id="awesome-cursor-circle">
     <div id="awesome-cursor-loader"></div>
     <div id="awesome-cursor-play" class="">
        <span class="awesome-cursor-play-start">Play</span>
        <span class="awesome-cursor-play-stop">Stop</span>
     </div>
  </div>
</div>
 <!-- back to top start -->
 <div class="back-to-top-wrapper">
  <button id="back_to_top" type="button" class="back-to-top-btn">
     <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 6L6 1L1 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
           stroke-linejoin="round" />
     </svg>
  </button>
</div>
<!-- back to top end -->